@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,600;1,9..40,400&display=swap');
@import 'tailwindcss';

html,
body,
#root {
  height: 100%;
  font-family: 'DM Sans', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #f59e0b #1f2937;
}

*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-track {
  background: #1f2937;
}
*::-webkit-scrollbar-thumb {
  background-color: #f59e0b;
  border-radius: 3px;
}
